*{
    margin: 0;
    padding: 0;
    background-color: rgb(82, 82, 82);
    color: white;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}